<h3>キャラ名</h3>
<%= @vr_person.name %>

<h3>一言メッセージ</h3>
<%= @vr_person.message %>

<h3>自己紹介文</h3>
<%= @vr_person.description %>

<div class="avatar_box">
  <h3>プロフィール画像</h3>
  <% if @vr_person.avatar.attached? %>
    <%= image_tag url_for(@vr_person.avatar) %>
  <% else %>
    <p>No avatar uploaded.</p>
  <% end %>
</div>

<% if user_signed_in? && @vr_person.user_id == current_user.id && @vr_person.user.role == "vr_person" %>
  <%= link_to "編集する", edit_vr_person_path(@vr_person) %>
<% end %>



<p class="chat_btn"><%= link_to 'チャットする', conversations_path(sender_id: current_user.id, recipient_id: @vr_person.user.id), method: :post %></p>