<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

 <p class="field_txt">一般のユーザーとしてキャラと会話したい人はユーザー、<br>キャラになりきってユーザーと会話したい人はキャラを<br>選択してください。</p>

 <div class="field choice container">
  <div class="radio-inline">
    <%= f.radio_button :role, User.roles.key(0), checked: "checked" %>
    <%= f.label :ユーザー, class: "job_type_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :role, User.roles.key(1) %>
    <%= f.label :キャラ, class: "job_type_label" %>
  </div>
  
 
</div>
   

  <div class="actions btm">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>