<div class="container_top">
<div class="left_box">
<p>キャラクターになりきって、<br>チャットで人を楽しませたい人と<br>楽しみたい人をつなぐアプリです。</p>
<p>悩みなど普段人には言えなかったり、<br>誰かに話しを聞いてもらいたいなど、<br>お気に入りのキャラクターと<br>１対１で話をすることができます。</p>
<p class="en_txt">Get started with the app!</p>
</div>


<div class="right_box">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
<!--
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
-->
  <div class="actions">
    <%= f.submit t('.sign_in') %>
  </div>
<% end %>

  <div class="sign_box">
     <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <p class="txt"><%= link_to "新規登録はこちら", new_user_registration_path %></p>
  <% end %>
  <div class="container">
  <p style="text-align:center"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></p>
  <p style="text-align:center"><%= link_to 'ゲストログイン（管理者用）', users_guest_admin_sign_in_path, method: :post %></p>
</div>
  </div>

</div>
</div>